body.login {
    box-sizing: border-box;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;

    form {
        border: 1px solid;
        padding: 1rem;
        display: grid;
        gap: 1rem;


        label {
            display: block;
        }
    }
}